.domande thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}
.domande td th {
  width: 50px;
  padding: 6px;
}
.domande tr {
  border: 1px solid black;
}

.relazione table {
  width: 2000px;
  display: inline-block;
  overflow-x: auto;
  font-size: 0.775rem;
  min-width: 2000px;
  white-space: nowrap;
}

.relazione td th {
  min-width: 60px;
  font-size: 0.775rem;
  width: 110px;
  min-width: 110px;
}

.relazione td th > div{
  min-width: 60px;
  font-size: 0.775rem;
  width: 110px;
  min-width: 110px;
  text-align: center;
}

.relazione td {
  background-color: white;
  color: black;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
  padding: 4px;
}
.relazione .titleRow {
  background-color: #ffd966;
}

.subRelazione td {
    border: 1px solid black;
  }
